@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.announceSwiper {
    width: 100%;
    height: 100%;
}

.announceSwiper .swiper-wrapper {
    align-items: center;
}

.announceSwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productSwiper * {
    user-select: none;
}

.popupSwiper .swiper-wrapper {
    padding-bottom: 30px;
}

.popupSwiper .swiper-pagination {
    bottom: 0px;
}

.popupSwiper .swiper-pagination-bullet {
    background-color: #f9f7ef;
    opacity: 0.8;
}

.popupSwiper .swiper-pagination-bullet-active {
    background-color: #4f5626;
}

@media (hover: none) and (pointer: coarse) {
    .vertical-timeline--animate .vertical-timeline-element-content.bounce-in,
    .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
        -webkit-animation: none !important;
        animation: none !important;
        visibility: visible !important;
    }
}
